{% extends 'base.html.twig' %}

{% block title 'Gomab Agency' %}

{% block body %}
    <div class="container">
       <div class="jumbotron text-center">
           <h1>Gomab Agency</h1>

           <p>Lorem imsup</p>
       </div>
    </div>
{% endblock %}