{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gomab Agency</h1>

        <p>Voir tous nos biens</p>

    </div>
{% endblock %}